@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

 
:root {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    --main-color: black;
    font-size: 18px;
}

.small-image {
    width: 75px;
}

body {
    max-width: 980px;
    margin: auto;
}

.navbar-nav {
    margin-left: 50%;
}
@media (min-width: 769px) {
    header nav {
        display: flex;
    } 
    header nav .menu-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

header {
    background-image: url(../img/ring-purpule.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: 40% 50%;
    display: flex;
    flex-direction: column;  
}

header .banner {
    min-height: 400px;
    display: flex;
    flex-direction: column; 
    align-self: flex-start ;
    justify-content: space-evenly; 
    margin-top: 75px;
    margin-left: 30px; 
}

header .banner h1 {
    font-family: Nanum Myeongjo,serif;
    font-size: 4rem;
    font-weight: 700;
}

header .banner p {
    margin-top: 50px;
    font-family: Montserrat,sans-serif;
    font-weight: 400;

}

.first-btn {
    border: 2px solid rgb(255, 42, 100);
    background-color: rgb(255, 42, 100);
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 80px;
    width: 170px;
    height: 50px;
    margin-bottom: 20px;
}
.first-btn:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 80px;
    width: 170px;
    height: 50px;
    margin-bottom: 20px;
}
/*collections*/

.all-collections h2 {
    font-size: 30px;
    font-family: Nanum Myeongjo,serif;
    font-weight: 700;
    text-align: center;

}
.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-list .card {
    max-width: 300px;
}
 .all-collections .card {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.all-collections .card {
    width: auto;
    border: none;
}
.card-list .card img {
    display: block;
    max-width: 80%;
    margin: auto;
   
}
.all-collections .card p {
    text-align: center;
    font-size: 22px;
    font-family: Nanum Myeongjo,serif;
    margin: 15px 0;
}
/*timer*/
.timer{
    font-size: 0;
    text-align: center;
}
.timer_section{
    display: inline-block;
    vertical-align: top;
}
.timer_section > div{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    background: rgb(255, 42, 100);
    color: #ffffff;
    line-height: 70px;
    width: 55px;
    margin: 0 1px;
    border-radius: 2px;
}
.timer_section > div.timer_section_desc{
    display: block;
    background: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    width: auto;
    margin: 0;
}
.timer_delimetr{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    line-height: 70px;
    margin: 0 5px;
}
@media (max-width: 767px){
    .timer_section > div{
        font-size: 30px;
        width: 30px;
        line-height: 40px;
    }
    .timer_delimetr{
        line-height: 40px;
        font-size: 30px;
    }
    .timer_section > div.timer_section_desc{
        font-size: 14px;
        line-height: 26px;
    }
}
</style>
/*carousel*/
#brendsCarousel .d-block{
    display: flex;
    max-height: 300px;
    padding-top: 45px;
    padding-bottom: 40px;
    max-width: 400px;

}


/*FORM*/

footer #contact-us {
    background-image: url(../img/background-footer.jpg);
    min-height: 750px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.form-control {
    margin: auto;
    display: block;
    width: 75%;
    color: white;
}
footer #contact-us h2 {
    font-family: Nanum Myeongjo,serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
footer #contact-us p {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 15%;
}

footer .btn {
  border: 2px solid rgb(255, 42, 100);
  background-color: rgb(255, 42, 100);
  color: white;
  padding: 10px 35px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.btn:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 10px 35px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.foot .small-image {
    display: block;
    margin: auto;
}


.foot a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    text-align: center;
}
.social {
    display: block;
    text-align: center;
}

.social h3 {
    font-size: 1.5rem;
    font-family: Nanum Myeongjo,serif;
    font-weight: 700;
    padding-top: 20px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  color: var(----main-color);
  
}
.fa:hover {
    color: rgb(255, 42, 100);
}
