@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

 
:root {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(240, 243, 244);
    --main-color: black;
    font-size: 18px;
}

.small-image {
    width: 75px;
}
.money-img {
    width: 40px;
}

body {
    max-width: 980px;
    margin: auto;
    background-color: rgb(240, 243, 244);
}

.navbar-nav {
    margin-left: 50%;
}
@media (min-width: 769px) {
    header nav {
        display: flex;
    } 
    header nav .menu-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

header {
    background-image: url(../img/ring-purpule.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: 40% 50%;
    display: flex;
    flex-direction: column;  
}

header .banner {
    min-height: 400px;
    display: flex;
    flex-direction: column; 
    align-self: flex-start ;
    justify-content: space-evenly; 
    margin-top: 75px;
    margin-left: 30px; 
}

header .banner h1 {
    font-family: Nanum Myeongjo,serif;
    font-size: 4rem;
    font-weight: 700;
}

header .banner p {
    margin-top: 50px;
    font-family: Montserrat,sans-serif;
    font-weight: 400;

}

.banner .btn-first {
    border: 2px solid rgb(255, 42, 100);
    background-color: rgb(255, 42, 100);
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 20px;
    width: 170px;
    height: 50px;
    margin-bottom: 20px;
}
.banner .btn-first:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 20px;
    width: 170px;
    height: 50px;
    margin-bottom: 20px;
}
/*collections*/

.all-collections h2 {
    font-size: 30px;
    font-family: Nanum Myeongjo,serif;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card-list .card {
    max-width: 300px;
    background-color: rgb(240, 243, 244);
}
 .all-collections .card {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.all-collections .card {
    width: auto;
    border: none;
}
.card-list .card img {
    display: block;
    max-width: 98%;
    margin: auto;
   
}
.all-collections .card p {
    text-align: center;
    font-size: 22px;
    font-family: Nanum Myeongjo,serif;
    margin: 15px 0;
}
#about-us img {
    max-width: 100%;
    display: block;
    margin: auto;
}
#about-us h2 {
    font-family: Nanum Myeongjo,serif;
    font-size: 35px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
}
#about-us p {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
}
@media (min-width: 769px) {
    #about-us {
        display: flex;
        margin: auto;
    } 
    #about-us img {
        max-width: 55%;
    }
}
.personal-ring {
    background-image: url(../img/topaz.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: 40% 50%;
    
}
.personal-ring h3 {
    font-family: Nanum Myeongjo,serif;
    font-size: 70px;
    margin-left: 20px;
    padding-top: 50px;
    font-weight: 800;
    color: white;
}
.personal-ring p {
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 50px;
    color: white;
}
.personal-ring .btn {
    border: 2px solid rgb(255, 42, 100);;
    background-color: rgb(255, 42, 100);;
    color: black;
    padding: 10px 35px;
    font-size: 16px;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 20px; 
  }

 
  .personal-ring .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: 10px 35px;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
/*discount*/
.discounts {
   background-image: url(../img/background-4.jpg); 
   min-height: 550px;
    background-size: cover;
    background-position: 40% 50%;
    display: flex;
    flex-direction: column;
}
.discounts-form {
    margin-top: 40px;
}
.discounts h2 {
    font-size: 40px;
    font-family: Nanum Myeongjo,serif;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.discounts p {
    font-size: 18px;
    font-family: Montserrat,sans-serif;
    text-align: center;
    padding-top: 30px;
}
.discounts .btn {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .discounts .btn:hover{
    border: 2px solid rgb(255, 42, 100);
    background-color: rgb(255, 42, 100);
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
    

/*timer*/
.timer{
    font-size: 0;
    text-align: center;
    margin-top: 50px;
}
.timer_section{
    display: inline-block;
    vertical-align: top;
}
.timer_section > div{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    background: rgb(255, 42, 100);
    color: #ffffff;
    line-height: 60px;
    width: 40px;
    margin: 0 1px;
}
.timer_section > div.timer_section_desc{
    display: block;
    background: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    width: auto;
    margin: 0;
}
.timer_delimetr{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    line-height: 70px;
    margin: 0 5px;
}
@media (max-width: 767px){
    .timer_section > div{
        font-size: 30px;
        width: 30px;
        line-height: 40px;
    }
    .timer_delimetr{
        line-height: 40px;
        font-size: 30px;
    }
    .timer_section > div.timer_section_desc{
        font-size: 14px;
        line-height: 26px;
    }
}
/*tips*/
.tips h2 {
    font-size: 30px;
    font-family: Nanum Myeongjo,serif;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
}
.tips img {
    max-width: 90%;
    padding-top: 30px;
    display: block;
    margin: auto;
}
.tips h3 {
    font-size: 20px;
    font-family: Nanum Myeongjo,serif;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 20px;
}
.tips p {
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 767px) {
    .select-ring {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
    
}


/*carousel*/
#brendsCarousel .d-block{
    display: flex;
    max-height: 300px;
    padding-top: 45px;
    padding-bottom: 40px;
    max-width: 400px;

}


/*FORM*/

footer #contact-us {
    background-image: url(../img/background-footer.jpg);
    min-height: 750px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.form-control {
    margin: auto;
    display: block;
    width: 75%;
    color: white;
}
footer #contact-us h2 {
    font-family: Nanum Myeongjo,serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
footer #contact-us p {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 15%;
}

footer .btn {
  border: 2px solid rgb(255, 42, 100);
  background-color: rgb(255, 42, 100);
  color: white;
  padding: 10px 35px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.btn:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 10px 35px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.foot-img, .nav-foot {
    margin-top: 20px;
}
.foot-img .small-image {
    display: block;
    margin: auto;
}


.nav-foot a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    text-align: center;
}
.social {
    display: block;
    text-align: center;
}

.social h3 {
    font-size: 1.5rem;
    font-family: Nanum Myeongjo,serif;
    font-weight: 700;
    padding-top: 20px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  color: var(----main-color);
  
}
.fa:hover {
    color: rgb(255, 42, 100);
}
@media (min-width: 769px) {
    .foot {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
    header nav .menu-items {
        display: flex;
        flex-direction: column;
       
        justify-content: space-around;
        
    }
}
