@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

 :root {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    --main-color: black;
 }
.small-image {
    width: 75px;
}
body {
    max-width: 1800px;
    margin: auto;
}
header nav .menu-items a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-family: inherit;
}
@media (min-width: 769px) {
    header nav {
        display: flex;
    } 
    header nav .menu-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}
header {
    background-image: url(../img/ring-purpule.jpg);
    min-height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;  
}
header .banner {
    min-height: 800px;
    display: flex;
    flex-direction: column; 
    align-self: flex-start ;
    justify-content: space-evenly;  
}







.brendsCarousel {
    width: 200px;
}